.mantine-Button-section{
    padding:8px 6px;
    background-color: #0003;
    margin-inline-end: 0;
    height: 100%;
}
.mantine-Button-label{
    padding:4px 8px;
    font-size: 13px;
    font-weight: 400;
    line-height:normal;
  }
.mantine-Button-root{
    border: 0;
    padding: 0;
    text-transform: capitalize;
}
.mantine-Input-input{
    height: 32px;
    min-height: 32px;
    padding: 0 8px;
}
.mantine-Input-input > input{
    padding-inline-start: inherit;
}
.mantine-NavLink-root .mantine-NavLink-section{
    margin-inline-end:0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.mantine-NavLink-label{
    display: block;
}
.mantine-NavLink-root:not(:hover):not(:has([data-active = true])) .mantine-NavLink-section{
    color: var(--mantine-color-gray-6);
}
.mantine-NavLink-root:hover{
    color: var(--mantine-primary-color-8);
}
.mantine-Select-option{
    border-radius: 0;
}
.mantine-Select-section, .mantine-MultiSelect-section{
    font-size: 12px;
}
.mantine-Select-input[data-expanded = true] ~ .mantine-Select-section{
    transform: rotate(180deg);
}
.mantine-Select-option:not([data-checked = true]):hover{
    color: var(--mantine-primary-color-8);
    background-color: var(--mantine-primary-color-0);
}
.mantine-Select-option[data-checked = true]{
    color: white;
    background-color: var(--mantine-primary-color-8);
}
.mantine-Tooltip-tooltip{
    padding: 8px;
    filter: drop-shadow(0 0 3px #0003);
}
.mantine-MultiSelect-pillsList{
    padding: 4px 0;
    gap: 4px;
}
.mantine-MultiSelect-input{
    height: auto;
}
.mantine-MultiSelect-input[data-expanded = true] ~ .mantine-MultiSelect-section{
    transform: rotate(180deg);
}
.mantine-Pill-label{
    border-radius: 2px;
    border: 1px solid var(--mantine-color-gray-3);
}