.panel{
    display: flex;
    height: 100vh;

    .sidebar{
        position: fixed;
        top:0;
        left: 0;
        width: 270px;
        height: 100vh;
        background-color: white;
        transition: all ease .5s;
        border-right: 1px solid var(--mantine-color-gray-3);
        overflow: hidden auto;
    } 

    .panel-container{
        width: calc(100% - 270px);
        margin-left: 270px;
        height: 100%;
        transition: all ease .5s;
    }

    header{
        height: 56px;
        border-bottom: 1px solid var(--mantine-color-gray-3);
    }

    .main{
        height: calc(100% - 57px);
    }
    
    // If fold the sidebar
    &.active{
        .sidebar{
            width: 70px;
            .mantine-NavLink-label{
               display: none;
            }
        }
        .panel-container{
            width: calc(100% - 70px);
            margin-left: 70px;
        }
    }

}